{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper_container">
  <div class="wrapper">
    <h2>Sign Up</h2>
    
    {% if form.errors %}
    <div class="alert alert-danger">
        <p>
        {% for field, errors in form.errors.items %}
            <li><strong>{{ field }}:</strong> {{ errors|striptags }}</li>
        {% endfor %}
        </p>
    </div>
    {% endif %}
    
    <form action="{% url 'userauths:signup' %}" method="post">
      {% csrf_token %}
      <div class="input-box">
        {{ form.username }}
      </div>
      <div class="input-box">
        {{ form.email }}
      </div>
      <div class="input-box">
        {{ form.password1 }}
      </div>
      <div class="input-box">
        {{ form.password2 }}
      </div>
      <div class="input-box button">
        <input type="submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="{% url 'userauths:signin' %}">Login now</a></h3>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
